body {
    font-family: Arial, sans-serif;
    display: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#chart {
    width: 80%;
    height: 60%;
}

#table{
    width: 75%;
    height: 10%;
}
